@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  ul, ol {
    list-style: revert;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.chat-message {
  display: flex;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}


textarea:focus-visible {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;

  border-radius: 10px;
}

/* ocultar el icono de redimensionamiento */
textarea {
  resize: none;
  -moz-resize: none;
  -webkit-resize: none;
}

pre code.hljs{
  border-radius: 6px;
}